[submodule "busybox"]
	path = packages/busybox/src
	url = git://busybox.net/busybox.git
[submodule "linux"]
	path = packages/linux/src
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
[submodule "glibc"]
	path = packages/glibc/src
	url = https://sourceware.org/git/glibc.git
